@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid theme("colors.primary.900");
        border-right-color: theme("colors.primary.200");
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}



img{
    max-width: 100%;
}

.wo-container{
    @apply w-full max-w-7xl mx-auto px-6 md:px-10
}

.flexCenter{
    @apply flex justify-center items-center;
}

.flexBetween{
    @apply flex justify-between items-center;
}

.hero-bg{
    @apply bg-hero-bg bg-no-repeat bg-cover;
}
